---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const works = await getCollection("works");
  return works.map((work) => ({
    params: { slug: work.slug }, 
    props: { work }
  }));
}
console.log("aa");

const { work } = Astro.props;
const Content = await render(work);
---

<div>
  <h1>{work.data.title}</h1>
</div>
