---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';
import { Baby } from '@lucide/astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout >
    <div class="ml-10">
    <div class="flex flex-row items-center my-4">
       
        <h1>My Journey</h1>
    </div>
    <p>I am Kenzo, a 16-year-old developer who hopes to make the world a better place. Here is my journey.</p>
    
    <!-- My life journey -->
    <div class=" prose  prose-lg max-w-none text-gray-800 leading-relaxed space-y-6">
        <h2 class="text-2xl font-semibold border-b pb-1 border-gray-300">Where It All Started</h2>
        </div>
        <p>I was born in Hong Kong in 2009, and after a few moves, my family settled in Hokkaido, Japan, when I was 3.</p>
        <p>Surrounded by rich natural beauty and a unique ambiance, I grew up in a place where cosmopolitan culture coexisted with traditional agricultural life. My interest in coding sparked when I started using Scratch at 8 years old. I quickly became a fan of coding, creating various projects—games, animations, and artwork.</p>
        <p>After several years of coding, I shared my passion with friends at school who also loved to code.</p>
    
        <h2 class="text-2xl font-semibold border-b pb-1 border-gray-300">Growth</h2>
        <p>After graduating from elementary school, my love for coding accelerated even further. By this time, I was able to create some advanced projects in Scratch- the mountain climbing game that involved 2D scrolling.
            Instead of stopping there, I quickly moved to text-based programming by using Java. This migration was one of the first challenges I faced in my coding journey. Coming from Scratch, where I felt confident, I was often faced by limitations I faced when transitioning to text-based language. After a period of 2 months of trying out numerous programming languages, I decided to settle into web and game development.
            I faced another challenge during this time: the lack of peers my age who shared my interests. Living in a small community meant there were limited resources available, such as clubs, teachers, or advanced courses that could help me grow. Despite these obstacles, one thing remained constant: my passion for coding. I realized that in order to change my circumstances, I needed to make the most of every opportunity.
            
            To address this, I founded a coding club at my school, regularly attended the Coder Dojo in Sapporo, and created online resources like BinaryFish to help others learn to code for free. Additionally, I moved on to web development by mastering React.js and Next.js.
            
            </p>
        <h2 class="text-2xl font-semibold border-b pb-1 border-gray-300">My current path</h2>
        <p>I'm currently in high school, working hard to prepare for the future. Through projects like WordOrca and this portfolio, I am actively participating in hackathons to build real-world development skills.</p>
        
        <h2 class="text-2xl font-semibold border-b pb-1 border-gray-300">Future</h2>
        <p>My ultimate life goal is to become a global innovatorー someone who uses knowledge and technology to make tomorrow better than today. My long-term goals include building a space transportation company, constructing cities on the Moon and the ocean, improving global infrastructure, and making the world a better place.</p>
        <p>I know my goals are a bit too ambitious. But that's why I try to maintain consistency by coding, learning, and staying curious everyday.</p>
    </div>
    <div class="ml-10">
    <h2 class="text-2xl font-semibold border-b pb-1 border-gray-300">My Skill Set:</h2>
    <p>These are the skills I have developed over the course of my life.</p>
    <div >
        <ul class="list-disc space-y-1 text-lg my-10 ml-6">
            <li>React.js – Advanced</li>
            <li>Next.js – Advanced</li>
            <li>Java – Intermediate</li>
            <li>Firebase – Intermediate</li>
            <li>Vercel – Intermediate</li>
            <li>Figma – Intermediate</li>
            <li>Godot Engine – Beginner</li>
        </ul>
    </div>
    <p>If you are interested in my work, collaborating, or learning together I'd love to connect!</p>
    
    </div>
    </div>
</Layout>
<style>
    .year{
        font-weight: 600;
        
    }
</style>