---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="flex flex-row items-center my-4" >
        <Image src={"/suits/Heart.svg"} alt={"Heart"} width={32} height={32} />
        <h1>My Journey</h1>
    </div>
    <p>I am Kenzo, a 16 years old developer that hopes to make the world a better place. Here is my journey.</p>
    
    <!-- My life journey -->
    <div>
        <h2>Where it started</h2>
        <p>I was born in Hongkong in 2009, and after some movement my family settled in Hokkaido-Japan when I was 3. </p>
        <p>With rich natural beauty and ambience, I grew in an area where cosmopolitan culture and traditional agricultural community coexisted. <br/> Coding sparked my interest when I started using Scratch and was 8 years old. I quickly became a fan of coding, and I created various projects- games, animations, and artwork. </p>
        <p>After several years of coding, I spread my love of code by making friends at my local school who loved to code. </p>
    
        <h2>Growth</h2>
        <h2>Passion and current situation</h2>
        <p>Currently I am enrolled in a highschool to prepare for my future. Starting with WordOrca and this portfolio, I am trying to participate in hackathon actively to build <b>real world</b> development skill.</p>
        <h2>Future</h2>
        <p>I seek to be a global person who could use his knowledge to make tommorow better than today. My long-term goals are: building a space-transportation company, building city on the moon and ocean, improving world's infrastructure, and making the world a better place.</p>
        <p>To achieve all of this, I am currently studying physics, mathematics, history, writing, philosophy, quantum computing, and statistics.</p>
    </div>
    
    <h2>My Skill Sets:</h2>
    <p>These are skills that I developed over the course of my life. </p>
    <div>
        <ul class="list-disc">
            <li>React.js</li>
            <li>Next.js</li>
            <li>Vercel</li>
            <li>Godot Engine</li>
            <li>Figma</li>
            <li>Firebase</li>
        </ul>
    </div>
    
    
</Layout>
<style>
    .year{
        font-weight: 600;
        
    }
</style>