---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="flex flex-row items-center my-4">
        <Image src={"/suits/Heart.svg"} alt={"Heart"} width={32} height={32} />
        <h1>My Journey</h1>
    </div>
    <p>I am Kenzo, a 16-year-old developer who hopes to make the world a better place. Here is my journey.</p>
    
    <!-- My life journey -->
    <div>
        <h2>Where it Started</h2>
        <p>I was born in Hong Kong in 2009, and after a few moves, my family settled in Hokkaido, Japan, when I was 3.</p>
        <p>Surrounded by rich natural beauty and a unique ambiance, I grew up in an area where cosmopolitan culture and traditional agricultural communities coexisted. My interest in coding sparked when I started using Scratch at 8 years old. I quickly became a fan of coding, creating various projects—games, animations, and artwork.</p>
        <p>After several years of coding, I spread my love for code by making friends at my local school who also enjoyed coding.</p>
    
        <h2>Growth</h2>
        <h2>Passion and Current Situation</h2>
        <p>I am currently enrolled in high school to prepare for my future. Starting with WordOrca and this portfolio, I am actively participating in hackathons to build real-world development skills.</p>
        
        <h2>Future</h2>
        <p>I aim to become a global individual who can use my knowledge to make tomorrow better than today. My long-term goals include building a space transportation company, constructing cities on the Moon and the ocean, improving global infrastructure, and making the world a better place.</p>
        <p>To achieve these goals, I am currently studying physics, mathematics, history, writing, philosophy, quantum computing, and statistics.</p>
    </div>
    
    <h2>My Skill Set:</h2>
    <p>These are the skills I have developed over the course of my life.</p>
    <div>
        <ul class="list-disc">
            <li>React.js</li>
            <li>Next.js</li>
            <li>Vercel</li>
            <li>Godot Engine</li>
            <li>Figma</li>
            <li>Firebase</li>
        </ul>
    </div>
    
    </div>
    
    
</Layout>
<style>
    .year{
        font-weight: 600;
        
    }
</style>