---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="flex flex-row items-center my-4" >
        <Image src={"/suits/Heart.svg"} alt={"Heart"} width={32} height={32} />
        <h1>About</h1>
    </div>
    
    
    <p>I am Kenzo Fachin, a young software engineer. </p>
    <h2>My journey:</h2>
    <p><span class="year">Age 8:</span> I started Scratch as the first programming language.</p>
    <p><span class="year">Age 12:</span> I started coding using Java.</p>
    <p><span class="year">Age 14:</span> I released several games using Godot engine</p>
    <p><span class="year">Age 15:</span> Shifted to web development; released WordOrca and worked on Astro.js documentation.</p>
    <h2>My Skill Sets:</h2>
    <div>
        <ul class="list-disc">
            <li>React.js</li>
            <li>Next.js</li>
            <li>Vercel</li>
            <li>Godot Engine</li>
            <li>Figma</li>
            <li>Firebase</li>
        </ul>
    </div>
    
    
</Layout>
<style>
    .year{
        font-weight: 600;
        
    }
</style>