---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import "../style/contactform.css";

// email where the form emails will be sent
// NOTE: you need to activate the form once, i.e. fill a dummy data
// and then check your mailbox, and click on the 'activate' button
const DESTINATION_EMAIL = "snowdingo.tech@gmail.com";
---

<Layout>
  <div class="ml-10">
    <div class="flex flex-row items-center my-4">
      <h1>Contact:</h1>
    </div>
    <div>
      <p> Email: Snowdingo.tech@gmail.com</p>
      <p>Discord, X, Devpost, Medium: @Snowdingo</p>
    </div>
    <div class="flex flex-row gap-2 my-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss-icon lucide-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>
    </div>
    <div>
      <h2 class="mb-4">Contact Me Directly</h2>
      <form
        class="form grid grid-cols-2 gap-4"
        target="_blank"
        method="POST"
        action={`https://formsubmit.co/${DESTINATION_EMAIL}`}
      >
        <div class="grid grid-cols-2 gap-4">
          <label for="name">Your Name:</label>
          <input
            type="text"
            name="name"
            placeholder="please enter your first and last name"
            class="p-2 border-gray-300 border-2 rounded-sm"
            required
          />
          <label for="email">Your Email-Adress:</label>
          <input
            type="email"
            name="email"
            placeholder="please enter your email"
            required
            class="p-2 border-gray-300 border-2 rounded-sm"
          />
          <label for="message" class="col-span-2">Message:</label>
          <textarea
            name="message"
            rows="10"
            required
            class="col-span-2 p-2 border-gray-300 border-2 rounded-sm"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-black text-white font-bold text-2xl p-4 rounded-4xl"
          >Send</button
        >
      </form>
    </div>
  </div>
</Layout>
