---
import Layout from "../layouts/Layout.astro";
import "../style/contactform.css"

---

<Layout>
<div>
    <h1>Contact:</h1>
    <div>
        <p>Email: Snowdingo.tech@gmail.com</p>
        <p>Discord, X, Devpost, Medium: @Snowdingo</p>
    </div>
    <div>
        <h2>Contact Me Directly:</h2>
        <form class="form">
            <label>Your Name:</label>
            <input placeholder="please enter your first and last name" />
            <label>Your Email-Adress:</label>
            <input placeholder="please enter your email" />
            <label>Message:</label>
            <textarea></textarea>
            <button>Send</button>
        </form>
    </div>

</div>
</Layout>