---
import Layout from "../layouts/Layout.astro";


---

<Layout>
<div>
    <h1>Contact:</h1>
    <div>
        <p>Email: Snowdingo.tech@gmail.com</p>
        <p>Discord, X, Devpost, Medium: @Snowdingo</p>
        
    </div>

</div>
</Layout>