---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allworks = await getCollection('works');


---

<Layout>
<div>
    <h1>Works:</h1>
    <!-- card rendered -->
    <div>
        {allworks.map((work) => (
            <div>
              <h2>{work.data.title}</h2>
              <p>{work.data.year}</p>
              <p>{work.data.description}</p>
              
            </div>
          ))}
    </div>
</div>
</Layout>