---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

const allworks = await getCollection('works');


---

<Layout>
<div class="ml-10 mb-10">
  <div class=" my-4" >
    <h1>Works</h1>
    <p>Through 9 years of coding experience, I have created various functional projects.</p>
</div>
    <!-- card rendered -->
    <div class="grid-cols-3 grid">
        {allworks.map((work) => (
            <div  class="shadow-sm m-4  pb-4 px-4 rounded-md">
              <h2>{work.data.title}</h2>
              <p>{work.data.year}</p>
              <p>{work.data.description}</p>
              
            </div>
          ))}
    </div>
</div>
</Layout>