---
import Image from "astro/components/Image.astro";

---

<div>
    <div class="centergrid">
        <div>
            <a href="/"><Image src="/cards/PNG/large/card_back.png" alt="" width={128} height={128} ></Image></a>

        </div>
        <div>
            <a href="/about">About</a>
        </div>
    </div>
</div>