---
import Image from "astro/components/Image.astro";

---

<div>
    <div>
        <div>
            <Image src="/" alt="" width={128} height={128} />
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/about">About</a>
        </div>
    </div>
</div>