---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<div>
	<h1 class="">Hello, I'm SnowDingo👋</h1>
	<h2>I craft educational tools, lead coding communities, and dream of making the world better</h2>
	<p>I am a high school developer from rural Japan, who is passionate about tech, innovations, and building a brighter future. </p>
	</div>
	<h2>My story:</h2>
	<p>I'm a web developer that focuses on solving real world problems not just to build features. I also lead communities like coding club and coder-dojo inspired events. </p>
	<!-- Skills -->
	<section class="mt-10">
		<h2 class="text-2xl font-bold mb-2">Skills</h2>
		<ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
		  <li>TypeScript</li>
		  <li>ReactJS</li>
		  <li>Astro</li>
		  <li>TailwindCSS</li>
		  <li>FireBase</li>
		  <li>Git/GitHub</li>
		  <li>Java</li>
		  <li>Python</li>
		</ul>
	  </section>
	  <!-- Contact card component -->
</div>


<style>
